@import url('https://fonts.googleapis.com/css?family=Cabin:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cabin {
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control {
  border-radius: 0;
  padding: 15px;
  height: 49px;
  border: 1px solid $gray-200;

  &:active {
    border: 1px solid $gray-200;
    box-shadow: none;
    border-color: $gray-200;
  }

  &:hover {
    border: 1px solid $gray-200;
    box-shadow: none;
    border-color: $gray-200;
  }

  &::placeholder {
    color: $gray-200;
    font-style: italic;
  }

  &:-ms-input-placeholder {
    color: $gray-200;
    font-style: italic;
  }

  &::-ms-input-placeholder {
    color: $gray-200;
    font-style: italic;
  }
}

.input-search {
  height: 44px;
  background-color: $blue-400;
  border: 2px solid $white;
  border-radius: 25px;
  width: 100%;
  color: $white;

  &::placeholder {
    color: $white;
    font-style: normal;
  }

  &:-ms-input-placeholder {
    color: $white;
    font-style: normal;
  }

  &::-ms-input-placeholder {
    color: $white;
    font-style: normal;
  }
}

.tag {
  border: 1px solid $blue-400;
  border-radius: 25px;
  color: $blue-400;
  font-size: 16px;
  height: 32px;
  text-align: center;
  padding: 5px 25px;
  width: fit-content;
  display: inline-block;
  margin: 10px;
}