.btn {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
}

.btn-circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.btn-primary {
  background-color: $blue-400;
  border: none;
}

.btn-outline-primary {
  background-color: $white;
  border: 2px solid $blue-400;
  color: $blue-400;
}

.btn-danger {
  background-color: $red-400;
  border: none;
}

.btn-outline-danger {
  background-color: $white;
  border: 2px solid $red-400;
  color: $red-400;
}

.btn-success {
  background-color: $green-400;
  border: none;
}

.btn-outline-success {
  background-color: $white;
  border: 2px solid $green-400;
  color: $green-400;
}

.btn-warning {
  background-color: $orange-400;
  border: none;
}

.btn-outline-warning {
  background-color: $white;
  border: 2px solid $orange-400;
  color: $orange-400;
}
