.footer {
    bottom: 0;
    left: 0;
    background-color: $orange-400;
    color:$white;
    width: 100%;

    .footer-links {
        margin: 30px 0px;

        a {
            color: $white;
            font-size: 16px;
            display: block;
            padding: 5px 10px;
        }
    }

    .about-pharex {
        margin: 30px;
        border-right: 4px solid $white;
        
        img {
            margin: 20px 0;
        }
        
    }

    h4 {
        text-transform: uppercase;
        padding: 0px 10px;
        font-size: 20px;
        font-weight: 500;
    }
    
    p {
        margin: 0;
        padding: 0 10px;
        justify-content: left;
        font-family: 'Cabin', sans-serif;
        font-size: 16px;
    }
}