.navbar {
  padding: 24px;
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-pharex {
  background: $blue-400;
  border: 0px;
  border-radius: none;
  margin: 0;
  height: 85px;

  .navbar-brand {
    padding: 0;
  }

  ul.nav.navbar-nav {
    li {
      a {
        padding: 0 10px;
        text-transform: uppercase;
        color: $white;
        font-weight: 600;
        font-size: 16px;
        margin: 10px 0;

        &:hover {
          color: #ffffff;
        }
      }

      a.member {
        border-right: 3px solid $white;
      }
    }
  }
}

.navbar-sticky {
  background-color: $green-400;
  height: 50px;
  margin: 0px;
  padding: 0px;
  border: none;
  z-index: 99 !important;

  div.container {
    padding: 0;
  }

  ul#sticky-nav {
    text-align: center;

    li {
      a {
        margin: 0;
        width: 218px;
        box-sizing: border-box;
        padding: 15px;
        color: $white;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
          background: $green-500;
        }
      }
    }
  }
}