div.color {
  margin: 10px 0;

  div.box-color {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    display: inline-block;
  }
  
  p {
    margin: 0;
    display: inline-block;
    position: absolute;

    code {
      display: block;
    }
  }
}

ul.sidebar-nav {
  padding: 20px;
  list-style: none;

  p {
    font-weight: 500;
    font-size: 16px;
    color: $gray-400;
    margin-top: 10px;
  }
  
  li {
    margin-left: 10px;

    a {
      color: $black;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

div.typography-box {
  background: $gray-100;
  padding: 10px;
  
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}