.section-title__v1 {
  color: $red-600;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.section-subtitle__v1 {
  color: $red-400;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.article-title {
  font-size: 16px;
  font-weight: 500;
}