@each $name, $gray in $grays {
  .text-#{$name} {
    color: $gray;
  }

  .bg-#{$name} {
    background-color: $gray;
  }
}

@each $name, $green in $greens {
  .text-#{$name} {
    color: $green;
  }

  .bg-#{$name} {
    background-color: $green;
  }
}

@each $name, $blue in $blues {
  .text-#{$name} {
    color: $blue;
  }

  .bg-#{$name} {
    background-color: $blue;
  }
}

@each $name, $red in $reds {
  .text-#{$name} {
    color: $red;
  }

  .bg-#{$name} {
    background-color: $red;
  }
}

@each $name, $orange in $oranges {
  .text-#{$name} {
    color: $orange;
  }

  .bg-#{$name} {
    background-color: $orange;
  }
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

@each $name, $font in $font-size {
  .font-#{$name} {
    font-size: $font;
  }
}

@each $name, $size in $spacing-size {
  .margin-#{$name} {
    margin: $size;
  }

  .margin-t#{$name} {
    margin-top: $size;
  }
  
  .margin-l#{$name} {
    margin-left: $size;
  }

  .margin-r#{$name} {
    margin-right: $size;
  }

  .margin-b#{$name} {
    margin-bottom: $size;
  }

  .padding-#{$name} {
    padding: $size;
  }

  .padding-t#{$name} {
    padding-top: $size;
  }

  .padding-l#{$name} {
    padding-left: $size;
  }

  .padding-r#{$name} {
    padding-right: $size;
  }

  .padding-b#{$name} {
    padding-bottom: $size;
  }
}

.margin-auto {
  margin: auto;
}

.display-block {
  display: block;
}